{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Burraq Marketing</title>
<!-- Meta tag Keywords -->
<link rel="shortcut icon" type="image/png" href="{%  static 'images/logo.png' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Burraq Marketing, marketing, Real estate, Real Estate Lahore, Alhayat residencia" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link  rel="stylesheet"  href="{% static 'css/style.css' %} "type="text/css" media="all">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/font-awesome.min.css' %} " rel="stylesheet" type="text/css" media="all">
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Gudea:400,400i,700&subset=latin-ext" rel="stylesheet">
    <!--// online-fonts -->
    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %} "></script>
{#    <script src="{%  static 'js/lightbox-plus-jquery.min.js' %}"> </script>#}
{#    <link rel="stylesheet" href="{%  static 'css/lightbox.css' %}">#}

    <script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %} "></script>

{% endblock %}
<!-- //js -->
</head>
<body>
{% block content %}
<div class="header">
	<div class="agile-top-header">
		<div class="logo">
			<a href="/">
                <img src="{%  static 'images/logo.png' %}" class="logo_img" alt="">
            </a>
		</div>

		<!-- navigation -->
		<div class="top-left">
			<div class="top-icons">
				<ul>
					<li><a href="https://web.facebook.com/burraqmarketing1/" target="_blank" class="fa fa-facebook"> </a></li>
					<li><a href="https://twitter.com/buraqmarketing" target="_blank" class="fa fa-twitter"> </a></li>
					<li><a href="https://www.instagram.com/burraqmarketing/" target="_blank" class="fa fa-instagram"> </a></li>
{#					<li><a href="#" class="fa fa-linkedin" ></a></li>#}
{#					<li><a href="#" class="fa fa-pinterest-p" ></a></li>#}
				</ul>
			</div>
			<div class="top-nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>
					<!-- navbar-header -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						 <nav class="linkEffects linkHoverEffect_12">
							<ul>
								<li><a href="index.html" class="scroll tabs-color"><span>Home</span></a></li>
								<li><a href="#about" class="scroll tabs-color"><span>About</span></a></li>
								<li><a href="#services" class="scroll tabs-color"><span>Services</span></a></li>
								<li><a href="#gallery" class="scroll tabs-color"><span>Gallery</span></a></li>
								<li><a href="#contact" class="scroll tabs-color"><span>Contact Us</span></a></li>
                                <li><a href="#reach" class="scroll tabs-color"><span>Reach Us</span></a></li>
							</ul>
						</nav>
					</div>
					<div class="clearfix"> </div>	
				</nav>
			</div>
			<div class="clearfix"> </div>	
			<!-- //navigation -->
		</div>
	</div>
	<div class="slider">
	    <!-- Slideshow 3 -->
	    <ul class="rslides" id="slider">
			<li>	
				<img src="{%  static 'images/bg1.jpg' %}" alt="">
					<div class="slider-info">
{#						<h4>A New way of <span> Strategic & Actions Plans</span></h4>#}
                        <h4>A New way of <span> Strategic Plans</span></h4>
						<p>Matchless Marketing Strategies</p>
						<h6><span>Plan </span> Build and Develop</h6>
					</div>
			</li>
			<li>
				<img src="{%  static 'images/bg2.jpg' %}" alt="">
					<div class="slider-info">
						<h4>Where dreams<span> come home</span></h4>
						<p>dreams into reality</p>
						<h6><span>value</span> driven</h6>
					</div>
			</li>
			<li>
				<img src="{%  static 'images/bg3.jpg' %}" alt="">
					<div class="slider-info">
						<h4>The perfect <span>lifestyle</span></h4>
						<p>essential for healthy lifestyle</p>
						<h6><span>easy</span> living</h6>
					</div>
			</li>
	    </ul>
	    <!-- Slideshow 3 Pager -->
	    <ul id="slider3-pager">
	      <li><a href="#"><img src="{%  static 'images/bg1_s.jpg' %}" alt=""></a></li>
	      <li><a href="#"><img src="{%  static 'images/bg2_s.jpg' %}" alt=""></a></li>
	      <li><a href="#"><img src="{%  static 'images/bg3_s.jpg' %}" alt=""></a></li>
	    </ul>
    </div>	
</div>
<!--main-content-->

<!--about-->
<div id="about" class="about">
	<div class="container">
			<h3>About us</h3>
			<!--count-down -->
		<div class="count">
			<div class="col-md-3 agile_count_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</div>
				<h5>Luxury Designs</h5>
				<div class="agile_count_grid_right">
					<p class="counter">160</p>
				</div>
				<div class="clearfix"> </div>
				
			</div>
			<div class="col-md-3 agile_count_grid">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				</div>
				<h5>Happy Clients</h5>
				<div class="agile_count_grid_right">
					<p class="counter">35</p>
				</div>
				<div class="clearfix"> </div>
				
			</div>
			<div class="col-md-3 agile_count_grid c3">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				</div>
				<h5>Followers</h5>
				<div class="agile_count_grid_right">
					<p class="counter">570</p>
				</div>
				<div class="clearfix"> </div>
				
			</div>
			<div class="col-md-3 agile_count_grid c4">
				<div class="agile_count_grid_left">
					<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
				</div>
				<h5>Our Sponsors</h5>
				<div class="agile_count_grid_right">
					<p class="counter">10</p>
				</div>
				<div class="clearfix"> </div>
				
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="about-info">
			<img src="{%  static 'images/ab.jpg' %}" alt="about-image">
			<div class="about-info2">
				<h4>About Us</h4>
				<p>"Burraq Marketing is the new age agency that has paved way for numerous builders and developers to expedite their functions within the real estate spectrum in Pakistan.
                    Our innovative marketing strategies has leverged private companies to safeguard their investment in the most lucrative direction. Our expertise brought great
                    values in the past for our investors and clients, which further more enhanced our professionalism in the market. Our project like <b>Al-Hayat Center</b> and <b>Al-Hayat Residencia</b>
                    , symbolizes our great achievement in current market". </p>
				
				<a href="#" class="view2" data-toggle="modal" data-target="#myModal1">Read More</a>
					<div class="modal fade" id="myModal1" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h5>About Burraq Marketing</h5>
										<span>Burraq Marketing is the new age agency that has paved way for numerous builders and developers to expedite their functions within the real estate spectrum in Pakistan.
                    Our innovative marketing strategies has leverged private companies to safeguard their investment in the most lucrative direction. Our expertise brought great
                    values in the past for our investors and clients, which further more enhanced our professionalism in the market. Our project like <b>Al-Hayat Center</b> and <b>Al-Hayat Residencia</b>
                    , symbolizes our great achievement in current market. <br/><br/>We believe in streamlining client's core agenda by indicating land areas with trade opportunities, manage acquired land in term of funds
                                        within the development period and offer a well-directed consultancy which does not deviate from the plan of action.</span>
								</div>
							</div>
						</div>
					</div>
			</div>
				<div class="clearfix"></div>
		</div>
	</div>

</div>
	<!-- //count-down -->
<!--//about-->

<!--services-->
<div id="services" class="services">
	<div class="container">
			<h3>Services</h3>
				<div class="col-md-3 ser-w3l s1">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					<h5>Marketing strategies</h5>
					<p>We offer matchless marketing strategies with prime focus on exceeding expectation of our clients.</p>
				</div>
                <div class="col-md-3 ser-w3l s3">
						<span class="fa fa-comments" aria-hidden="true"></span>
					<h5>Consultation</h5>
					<p>Our Experts and marketing management would assist you with great values.</p>
				</div>
				<div class="col-md-3 ser-w3l s2">
						<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
					<h5>Guaranteed Works / 100% Deliveries</h5>
					<p>We deliver our services with confidence and professionalism.</p>
				</div>
				<div class="col-md-3 ser-w3l s4">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					<h5>24 / 7 Support</h5>
					<p>Our Team is here for you for any queries.</p>
				</div>
				<div class="clearfix"> </div>
				<div class="right-agile">
					<span>our services</span>
				</div>
	</div>
</div>
<!--//services-->

<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">
		 <h3>Gallery</h3>

        <div align="center">
            <button class="filter-button custom-buttons" data-filter="all">All Projects</button>

            {% for foo in folders %}
                {% if foo %}
                    <button class=" filter-button custom-buttons" data-filter="{{ foo.title|cut:" " }}">{{ foo.title }}</button>
                {% endif %}
            {% endfor %}
        </div>

            <div class="gallery-grids">
            {% for foo in gallery %}
                {% if foo %}
                   <div class="col-md-4 gallery-grid wow fadeInUp animated filter {{ foo.folder.title|cut:" " }}" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <a class="example-image-link" href="{{ foo.image.url }}" data-lightbox="example-set" data-title="">
                                <img src="{{ foo.image.url }}" alt="" />
{#                                <img src="{%  static 'images/g2.jpg' %}" alt="" />#}
                                <figcaption>
                                    <h3>{{ foo.image_title }}</h3>
                                    <p>{{ foo.image_description }}</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
                <div class="clearfix"> </div>
                </div>
            </div>
			
<!-- //gallery -->

<!-- newsletter -->
	<div class="contact" id="contact">
		<div class="container">
			<h3>Contact Us</h3>
{#            <form method="post" id="contactform" class="contact_form" action="{% url 'indexView' %}">#}
            <form method="post" id="contactform" class="contact_form" action="{% url 'indexView' %}">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="alert alert-success" id="alert_success_id">
                    <strong>Thank you!</strong> Your response has been recorded.
                </div>
                <div class="form-actions">
                    <input type="submit" class="more_btn" value="Send Message" data-toggle="modal" aria-labelledby="thanksModal">
                </div>
            </form>
		</div>
	</div>

    <div class="modal fade text-center py-5" style="top:30px" id="thanksModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
{#                <img src="{%  static 'images/logo.png' %}" class="modal-img">#}
                <h3 class="pt-5 mb-0 text-secondary">Your response has been recorded. Thanks</h3>
            </div>
        </div>
    </div>
    </div>
<!-- //newsletter -->
<!-- footer -->
	<div class="footer" id="reach">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h4>About Us</h4>
				<p>Burraq Marketing is the new age agency that has paved way for numerous builders and developers to expedite their functions within the real estate spectrum in Pakistan.
                    Our innovative marketing strategies has leverged private companies to safeguard their investment in the most lucrative direction. Our expertise brought great
                    values in the past for our investors and clients, which further more enhanced our professionalism in the market. Our project like <b>Al-Hayat Center</b> and <b>Al-Hayat Residencia</b>
                    , symbolizes our great achievement in current market</p>
			</div>
            <div class="col-md-4 agileinfo_footer_grid">
				<h4>Our location</h4>
                <div class="map_location">
				    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.4439680276723!2d74.29274895038799!3d31.45697118129926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391901b60aa1fb05%3A0x992e97af0677d57!2sSK+ASSOCIATES!5e0!3m2!1sen!2s!4v1534254482795" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
                <div class="clearfix"> </div>
			</div>
			<div class="col-md-4 agileinfo_footer_grid">
				<h4>Address</h4>
				<ul>
					<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>234-C PIA Main Boulevard, Johar Town, Lahore</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:sohaib@burraqmarketing.com">sohaib@burraqmarketing.com</a></li>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (03) 111-444-570</li>
				</ul>
			</div>
			
			<div class="clearfix"> </div>
			<div class=" newsletter">
				   <h4>CONNECT WITH US</h4>
				   <div class="social">
					<ul>
						<li><a href="https://web.facebook.com/burraqmarketing1/" class="link facebook" target="_blank"><span class="fa fa-facebook-square"></span></a></li>
						<li><a href="https://twitter.com/buraqmarketing" class="link twitter" target="_blank"><span class="fa fa-twitter"></span></a></li>
						<li><a href="https://www.instagram.com/burraqmarketing/" class="link google-plus" target="_blank"><span class="fa fa-instagram"></span></a></li>
					</ul>
				</div>
				</div>
		</div>
	</div>
<!-- //footer -->


<!-- js files -->
	<!-- Starts-Number-Scroller-Animation-JavaScript -->
	<script type="text/javascript">

        $('#alert_success_id').hide();
        $(document).on('submit', '#contactform', function(e){
           e.preventDefault();

           $.ajax({
               type: 'POST',
               url: '{% url 'indexView' %}',
               data: {
                   from_email: $('#id_from_email').val(),
                   subject: $('#id_subject').val(),
                   message: $('#id_message').val(),
                   'csrfmiddlewaretoken': '{{ csrf_token }}'
               },
               success:function () {
                   $('#alert_success_id').show();
                   $("#contactform")[0].reset();
                    {#$('#thanksModal').modal('show');#}

               }
           });
        });
    </script>

    <script src="{%  static 'js/waypoints.min.js' %}"></script>
					<script src="{%  static 'js/counterup.min.js' %}"></script>
					<script>
						jQuery(document).ready(function( $ ) {
							$('.counter').counterUp({
								delay: 20,
								time: 3000
							});
						});
					</script>
				
		
		
	<!-- js -->
{#    <script src="{%  static 'js/lightbox-plus-jquery.min.js' %}"> </script>#}
    <link rel="stylesheet" href="{%  static 'css/lightbox.css' %}">
	<!-- //js -->

	 <script src="{%  static 'js/responsiveslides.min.js' %}"></script>
	 <script>
		// You can also use "$(window).load(function() {"
		$(function () {
		  $("#slider").responsiveSlides({
			auto: true,
			manualControls: '#slider3-pager',
		  });
		});
	  </script>

  
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{%  static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{%  static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<!-- //js files -->


	<!-- bottom-top -->
	<!-- smooth scrolling -->
		<script type="text/javascript">
			$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/								
			$().UItoTop({ easingType: 'easeOutQuart' });
			});


		</script>

        <script>
            $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else
                {
        //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
        //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.'+value).hide('3000');
                    $('.filter').filter('.'+value).show('3000');

                }
            });

            if ($(".filter-button").removeClass("active")) {
        $(this).removeClass("active");
        }
        $(this).addClass("active");

        });
        </script>

		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
	<!--// bottom-top -->

{% endblock %}
</body>
</html>