.logo-setting {
    float: left;
}
.nav-setting {
    float: right !important;
}
.top-header-setting {
    background-color: #1F1E1E;
    opacity: 0.9;
}
.tabs-color {
    color: gold !important;
}

/* Testing css*/
.modal-img{
	margin-top: -46px;
    width: 33%;
    border: 5px solid goldenrod;
    border-radius: 50%;
    padding: 5px;
    background: black;
}
.custom-buttons{
    padding: 10px 22px;
    border: 2px solid #efbe0c;
    font-size: 16px;
    color: #fff;
    background: #212121 ;
    text-decoration: none;
    outline: none;
    margin-top: 12px;
    cursor: pointer;
}

.custom-buttons:hover{
    color: yellow;
}
